KFXBRAIN_HOST=0.0.0.0
KFXBRAIN_PORT=18326
KFXBRAIN_API_TOKEN=
KFXBRAIN_ALLOWED_CLIENT_IPS=127.0.0.1,::1,157.7.188.210
KFXBRAIN_OLLAMA_URL=http://127.0.0.1:11434
KFXBRAIN_OLLAMA_MODEL=gemma4:12b-it-qat
KFXBRAIN_OLLAMA_TIMEOUT=300
KFXBRAIN_MAX_INPUT_CHARS=50000
